<head>
    <title>{% if error == 404 %}404 Not Found{% elsif page.title %}{{ page.title }} - Docs{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="/favicon.ico">

    <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dependencies/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/dependencies/kttdevelopment/css/style.css">
    <link rel="stylesheet" href="/dependencies/kttdevelopment/css/highlight.css">
</head>