{% for pg in site.pages %}
    {% assign ref = pg.path | split: '/' %}
    {% assign size = ref | size %}
    {% if size == 2 %}
        {% if ref[1] == "index.html" or ref[1] == "README.md" %}
            <li class="sidebar-link">
                {% assign link = ref[0] | remove: ".html" | remove: ".md" %}
                {% if pg.title %}
                    {% assign title = pg.title %}
                {% else %}
                    {% assign title = ref[0] | remove: ".html" | remove: ".md" | replace: '-', ' ' %}
                {% endif %}
                <a class="d-block pl-4 py-2" href="{{ link }}">
                    {{ title }}
                </a>
            </li>
        {% endif %}
    {% endif %}
{% endfor %}