<div class="sidebar d-none d-md-block vh-100 pb-3">
    <!-- Header -->
    <div class="sidebar-brand d-flex align-items-center p-4 position-sticky">
        <a href="/">
            <img src="/dependencies/kttdevelopment/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="ktt dev">
        </a>
        <a class="pl-2 text-white" href="/">Documentation</a>
    </div>
    <!-- Sidebar -->
    <div>
        {% if page.error or page.path == 'index.html' or page.path == 'search.html' %}
            {% comment %}Sidebar for homepage (list all repos){% endcomment %}
            <ul class="sidebar-nav pl-0" style="margin-top: 35px;">
                {% include default/sidebar-homepage.liquid %}
            </ul>
        {% else %}
            <ul class="sidebar-nav pl-0">
                {% comment %}Sidebar for repo (list repo links){% endcomment %}
                {% include default/sidebar-repository.liquid %}
            </ul>
        {% endif %}
    </div>
</div>