<div class="topnav border-bottom">
    {% unless page.error %}
        <div class="container py-2">
            <div class="topnav-search d-flex justify-content-end">
                {% include default/search.liquid %}
            </div>
        </div>
    {% endunless %}
</div>