<div class="topnav border-bottom">
    {% if page.error == nil and page.path != "search.html" %}
        <div class="container py-2">
            <div class="topnav-search d-flex justify-content-end">
                {% include default/search.liquid %}
            </div>
        </div>
    {% endif %}
</div>