<div id="breadcrumb">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    {% for crumb in crumbs offset: 1 %}
        {% assign crumb_limit = forloop.index | plus: 1 %}
        {% capture url %}
        {% for crumb in crumbs limit: crumb_limit %}
            {{ crumb }}
        {% endfor %}
        {% endcapture %}
        {% capture head %}
            <a class="nav-link{% if forloop.last %} active text-muted{% endif %} d-inline-block" href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | remove:'.html'}}{% if forloop.last == false %}/{% endif %}{% endfor %}">
        {% endcapture %}
        {% capture foot %}
            </a>
        {% endcapture %}
        <small>{{ head }}{{ crumb | replace:'-',' ' | remove:'.html' }}{{ foot }}</small>
    {% endfor %}
</div>