<div id="sidebar">
    {% for item in site.data.nav %}
        <div class="row mx-4 my-2">
            <a href="{{ item.link }}">
                {{ item.name }}
            </a>
            <a class="ml-auto" href="#sidebar-{{item.name}}" data-toggle="collapse">
                <i class="fas fa-angle-down"></i>
            </a>
        </div>
        <div class="row mx-0 px-4 collapse sidebar-collapse show" id="sidebar-{{item.name}}">
            {% for link in item.links %}
                {% capture url %}{{item.link}}{{link.link}}{% endcapture %}
                {% 
                    include sidebar_link.html 
                    link = url
                    name = link.name
                    links = link.links
                %}
            {% endfor %}
            <p class="py-2">&nbsp;</p>
        </div>
    {% endfor %}
</div>