#search-results{
    list-style: none;

    .search-item{
        user-select: none;
        transition: all 0.25s ease-in-out !important;

        > a{
            > h1, > h2, > h3, > h4, > h5, > h6{
                mark{
                    padding: 0px;
                    background-color: transparent;
                }
            }

            > p {
               mark{
                    padding: 0px;
                    margin: 0px 2px;
                    background-color: transparent;
                    border-bottom: 1px dotted $color-dark;
                }
            } 
        }

        &:hover{
            background-color: rgba(0, 123, 255, .1) !important;
        }

        .breadcrumb{
            margin-bottom: 0px;

            p{
                color: #6c757d;
                font-size: 80%;
                font-weight: 400;
            }

            .breadcrumb-item:before{
                font-size: 80%;
                font-weight: 400;
            }

        }

    }
}