---
---

@import 'global', 'nav', 'search';

@font-face{
    font-family: 'Lexend Deca';
    src: url("/dependencies/google/webfonts/LexendDeca.ttf")
}

@font-face{
    font-family: 'Fira Code';
    src: url("/dependencies/google/webfonts/FiraCode.ttf")
}

// global styling

* {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    outline: none !important;
}

a:not(.navbar-brand):not(.text-white):not(.btn){
    &, &:hover{
        transition: all 0.25s ease-in-out !important;
        text-decoration: none !important;
    }
    
    &:hover{
        color: #0056b3 !important;
    }
}

code, pre{
    & & > *{
        font-family: 'Fira Code', 'Courier New', Courier, monospace;
    }
}

body{
     background-color: $color-white;
}

img{
    max-width: 100%;
}

.min-list{
    ul, li {
        list-style-type: none;
    }

    ul {
        padding-left: 0px;
    }

    div > ul > li{
        padding-left: 0px;
    }

    li{
        padding-left: 15px;
    }
}

// anchor

a.anchor{
    font-size: 75%;
    top: -2.5px;
    position: relative;
}

// content

#toc{
    @extend .min-list;
    font-size: 90%;
}

#content{
    > *{
        margin-top: 10px;
    }

    code{
        color: $color-red;
    }
}

// sidebar

#left, #right{
    height: 100vh;
    overflow-y: auto;
}

#left{
    width: 300px;
    background-color: $color-dark;
    @extend .min-list;

    p, a:not(:hover){
        color: white;
    }
}

#top{
    background-color: $color-dark;
    max-height: 100%;
    overflow-y: auto;
}

#sidebar{
    .sidebar-collapse{
        background-color: #191919;
    }
}

// breadcrumb

#breadcrumb{
    a{
        margin: 0px;
        padding: 0px;
    }
    small::before{
        content: "/"
    }
}

// footer
.footer{
    color: white;
    background-color: $color-dark;
}
