---
---

@import 'global', 'nav', 'search', 'markdown';

@font-face{
    font-family: 'Lexend Deca';
    src: url("/dependencies/google/webfonts/LexendDeca.ttf")
}

@font-face{
    font-family: 'Fira Code';
    src: url("/dependencies/google/webfonts/FiraCode.ttf")
}

// global styling

* {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    outline: none !important;
}

a:not(.navbar-brand):not(.text-white):not(.btn){
    &, &:hover{
        transition: all 0.25s ease-in-out !important;
        text-decoration: none !important;
    }

    &:hover{
        color: #0056b3 !important;
    }
}

code, pre{
    & & > *{
        font-family: 'Fira Code', 'Courier New', Courier, monospace;
    }
}

body{
     background-color: $color-white;
}

main{
    overflow-x: hidden;
    overflow-y: auto;
}

// content

.toc{
    position: sticky !important;
    top: 30px;
    font-size: 90%;

    ul{
        padding-left: 0px;
        list-style: none;
    }

    li > ul {
        padding-left: 1rem;
    }
}

// footer
.footer{
    color: white;
    background-color: $color-dark;
}
