---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Lexend Deca';
  src: url(LexendDeca.ttf);
}

p, h1, h2, h3, h4, h5, h6, a, th, td, summary {
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif !important;
}

h{
    &1, &2, &3, &4, &5, &6 {
        &:before{
            color: #3278be;
    
        }   
    }  
    &1:before{
        padding-right: 0.3em;
        margin-left: -0.9em;
        content: "/";
    }
    &2:before{
        padding-right: 0.3em;
        margin-left: -1.5em;
        content: "//";
    }
    &3:before{
        padding-right: 0.3em;
        margin-left: -2em;
        content: "///";
    }
    &4:before{
        padding-right: 0.3em;
        margin-left: -2.8em;
        content: "////"
    }
    &5:before{
        padding-right: 0.3em;
        margin-left: -3.2em;
        content: "/////";
    }
    &6:before{
        padding-right: 0.3em;
        margin-left: -3.7em;
        content: "//////";
    }
}

a[href], a[href]:visited{
    color: #3278be !important;
    transition: color .15s ease-in-out !important;
    &:hover{
        color: #25598e !important;
    }
}

header div.inner{
    a[href], a[href]:visited{
        color: white !important;
        transition: color .15s ease-in-out !important;
        &:hover{
            color: #94bbe2 !important;
        }
    }

    h1{
        width: unset !important;
        text-align: center;
    }

    h2 {
        width: unset !important;
    }

    h{
        &1, &2, &3, &4, &5, &6 {
            &:before{
                content: none !important;    
            }   
        }
    }
}

summary {
    outline: none;
}

details > {
    details {
        margin-left: 20px;
    }
}

#sidebar > details summary {
    font-size: 18px;
}

details{
    margin-bottom: 10px;
}

details > ul {
    padding-left: 40px !important;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px !important;
    padding-left: 20px !important;
}

// code

@font-face {
  font-family: 'Fira Code';
  src: url(FiraCode.ttf);
}

a code, a:visited code {
    @extend a[href];
}

code{
    border: none !important;
    font-weight: bold !important;
    background-color: transparent !important;
}

pre code{
    color: #616161 !important;
}

code, pre {
    font-family: 'Fira Code', "Courier New", Courier, monospace !important;
}

div.highlight pre.highlight {
    background-color: #212121 !important;
    border-radius: 6px;


    .hll { // background
        background-color: transparent !important;
    }
//
    .c, .c1, .cm, .cp { // comment
        color: #616161 !important;
        font-style: italic !important;
        font-weight: normal !important;
    }

    .cs { // comment special
        color: #616161 !important;
        font-weight: bold !important;
        font-style: italic !important;
    }

//
    .err { // error
        color: #FF5370 !important;
        background-color: unset !important;
    }

//
    .k, .kc, .kd, .kn, .kp, .kr, .kt { // keyword (class/import) / scope access
        color: #C792EA !important;
        font-style: italic !important;
        font-weight: normal !important;
    }
//
    .m, .mf, .mh, .mi, .mo { // float/int
      color: #F78C6C !important;
      font-weight: normal !important;
    }
//
    .n { // var
        color: #EEFFFF !important;
        font-weight: normal !important;
    }

    .no { //, type
        color: #F78C6C !important;
      font-weight: normal !important;
    } 

    .na, .nf { // function
      color: #82AAFF !important;
      font-weight: normal !important;
    }

    .nc { // class
      color: #FFCB6B !important;
      font-weight: normal !important;
      text-decoration: none !important;
    }

    .nd { // annoation
      color: #C792EA !important;
      font-weight: normal !important;
    }

    .nn { // import / namespace
        color: #FFCB6B !important;
        text-decoration: none !important;
    }
//
    .o, .p, .pi { // symbols ; () []
        color: #89DDFF !important;
        font-weight: normal !important;
        text-decoration: none !important;
    }
// 
    .s, .sr, // string, regex
    .sb, .sc, .sd, .s2, .se, .sh, .si, .sx,
    .nl { // literal
      color: #C3E88D !important;
      font-weight: normal !important;
    }
}
