---
---

@import "{{ site.theme }}";

@font-face {
  font-family: 'Lexend Deca';
  src: url(LexendDeca.ttf);
}

p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Lexend Deca' !important;
}

header div.inner h2 {
    width: unset;
}

a, a:focus {
    outline: none;
}

details > details {
    margin-left: 20px;
}

details > ul {
    margin-top: 0px;
}

#sidebar > details summary {
    font-size: 20px;
}