<!DOCTYPE html>
<html class="h-100">
  <head>
        <!-- bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- bootstrap -->
        <link rel="stylesheet" href="/dependencies/bootstrap/css/bootstrap.min.css">

        <!-- fontawesome -->
        <link rel="stylesheet" href="/dependencies/fontawesome/css/all.min.css">

        <!-- local -->
        <title>{{ site.title }}</title>
    
        <link rel="stylesheet" href="/dependencies/kttdevelopment/css/style.css">
        <link rel="stylesheet" href="/dependencies/kttdevelopment/css/highlight.css">
    </head>

    <body class="h-100 d-flex flex-column">
        <div class="row py-2 px-0 m-0">
            <!-- left -->
            <div class="px-3 m-0" style="width:250px;">
                <!-- logo -->
                <div class="col-12 px-0 text-center">
                    <div class="m-1">
                        <a href="/">
                            <img class="img-fluid" 
                                src="/dependencies/kttdevelopment/assets/logo.png"
                                alt="logo"
                                style="max-height: 200px;">
                        </a>
                    </div>
                    <h5 class="pt-2">Ktt&nbsp;Development Wiki</h5>
                </div>
                <!-- nav -->
                <div class="sidebar col-12 px-0 text-capitalize">
                    {% capture sidebar %}
                        {% include sidebar.md %}
                    {% endcapture %}
                    {{ sidebar | markdownify }}
                </div>
            </div>
            <!-- right -->
            <div class="col px-0 m-0 mx-3" style="width:200px">
                <!-- nav -->
                <div class="col-12 mt-3 px-0">
                    {% include breadcrumb.html %}
                </div>
                <!-- content -->
                <div id="content" class="col-12 pt-2 pb-4 px-4 bg-white border-left border-right border-bottom">
                    {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor"%}
                </div>
                <!-- footer -->
                <div class="row mt-1 mx-3">
                    <div class="col-12 col-xl-6 px-0">
                        <small class="float-right float-xl-left">
                            <a href="https://github.com/Ktt-Development/wiki.kttdevelopment.com">wiki.kttdevelopment.com</a> is maintained by <a href="https://github.com/Ktt-Development">Ktt&nbsp;Development</a>.
                        </small>
                    </div>
                    <div class="col px-0">
                        <small class="float-right">
                            Last updated at {{ site.time | date: "%B %d %Y, %r (EST)" }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="footer mt-auto">
            <div id="copyright" class="text-center">
                <small class="no-translate m-0">
                    &copy; Ktt&nbsp;Development 2020. All rights reserved
                </small>
            </div>
        </div>

        <!-- bootstrap -->
        <script src="/dependencies/jquery/js/jquery-3.5.1.min.js"></script>
        <script src="/dependencies/popper/js/popper.min.js"></script>
        <script src="/dependencies/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            })
        </script>
        <!-- local -->
        <script src="/dependencies/kttdevelopment/js/anchor-scroll.js"></script>
    </body>
</html>
