---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    {% include default/_head.liquid %}
    <body class="d-flex">
        {% include default/sidebar.liquid %}

        <main class="w-100 vh-100 d-flex flex-column">
            {% include default/topbar.liquid %}
            <div class="container my-4">
                {{ content }}
            </div>
            {% include default/footer.liquid %}
        </main>

        {% include default/_after.liquid %}
        {{ page.after }}
    </body>
</html>